.message {}

.imageAndText {}

.imageAndText img {
  display: block;
  width: 48px;
}

.text {
  /* display: inline-block; */
  /* width: 527px; */
  text-align: right;
  background-color: #0066CC;
  color: #FFFFFF;
  border-radius: 8px;
  margin: 0 0 0 auto;
  min-width: 0;
  max-width: 600px;
  


}

.text:after {}

.name {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
}

.messageText {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}



.time {}