.spanBlock {
    margin-bottom: 14px;
    height: 39px;
    /* border: 1px solid black; */

    display: flex;
    align-content: center;

}

.span {    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
    
    margin-left: 10px;
    /* border: 1px solid black; */

    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.input {

}

.pen {

    width: 26px;
    /* border: 1px solid black; */
}