.friendMessage {}

.friendImageAndText {}

.friendImageAndText img {
  
  width: 48px;
}

.friendText {
  
  background-color: #F5F7FB;
  color: #000000;
  width: 527px;
  border-radius: 8px;
}

.friendText:after {}

.friendName {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;

}

.friendMessageText {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;

}

.friendTime {}