.greetingForm {

  min-height: 150px;
}

.inputAndButtonContainer {
  display: flex;
  margin-top: 9px;
}

.error {
  margin-top: 7px;
  color: #CC0000;
  font-size: 14px;
  height: 14px;
}

.input,
.errorInput {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 372px;
  height: 36px;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #D1D1D1;
  color: black;
  outline: none;

  /* border: 1px solid #D1D1D1;
  border-radius: 5px; */
}

.input:focus {}

.errorInput {
  border-color: #CC0000;
}

.button {
  font-family: 'Montserrat', serif;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #0066CC;
  border: none;
  border-radius: 5px;
  color: white;
  width: 78px;
  height: 36px;
  margin-left: 12px;
}

.button:focus {
  
}

.button:active {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  
}

.greeting {
  color: black;
  margin-top: 10px;

}