.sendForm {
  margin-bottom: 100px;
}

.textarea {
  display: inline-block;
  width: 74%;
  min-height: 40px;
  margin: 0 44px -16px 0;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #F5F7FB;
  padding: 10px 15px;
  overflow: hidden;
  resize: none;
  border: 1px solid #D9D9D9;
  outline: none;
}

.button {
  display: inline-block;
  width: 120px;
  height: 40px;
  background: #0066CC;
  border: none;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  vertical-align: middle;
  cursor: pointer;
}

.button:hover {
  background: #0066cce5;
}

.button:active {
  background: #0066ccd3;
}